NEXT_PUBLIC_STACK_PROJECT_ID=
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=
STACK_SECRET_SERVER_KEY=

DATABASE_URL=

GITHUB_API_VERSION=2026-03-10
GITHUB_OAUTH_SCOPES=repo,read:user,user:email

SKETCHFLOW_REPO_NAME=sketchflow-workspace
SKETCHFLOW_DEFAULT_BRANCH=main
